body {
   background-image:url(https://p3-pc-sign.douyinpic.com/tos-cn-i-0813c001/oEz3C8nKIApACq5AE9A9sAAvAeiXsNfiWgaBSi~tplv-dy-aweme-images:q75.webp?biz_tag=aweme_images&from=327834062&lk3s=138a59ce&s=PackSourceEnum_SEARCH&sc=image&se=false&x-expires=1767924000&x-signature=h87GRFUujOd3%2BlZV%2FlnQOwM4ROk%3D);
   background-size:cover;
   cursor: url('https://icon2.cleanpng.com/lnd/20250214/kx/13c1326efa4ca20d1039c7d7bf21e4.webp'), auto;
}
a, button {
  cursor: url('https://icon2.cleanpng.com/lnd/20250214/kx/13c1326efa4ca20d1039c7d7bf21e4.webp'), pointer;
}



html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color:rgba(255, 255, 255, 0.5);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}